/* Entire page */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Game board */
#board {
  display: grid;
  border: 1px solid black;
  grid-template-rows: repeat(20, 20px);
  grid-template-columns: repeat(20, 20px);
}

/* Single cells */
.cell {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

/* Snake */
.snake {
  background-color: green;
}

/* Food */
.food {
  background-color: red;
}