/* Entire page */
body {
  display: flex;
  justify-content: center;
}

/* Container of the game */
#gameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Displayed title*/
#title {
  font-family: OCR A Std, monospace;
  font-size: 40px;
  align-self: center;
}

/* Game board */
#board {
  display: grid;
  border: 5px solid darkgray;
  grid-template-rows: repeat(20, 25px);
  grid-template-columns: repeat(20, 25px);
}

/* Single cells */
.cell {
  width: 25px;
  height: 25px;
  border: 1px solid lightgray;
}

/* Label of the score */
#textScore {
  font-family: OCR A Std, monospace;
  padding-top: 10px;
}

/* Score */

/* Snake */
.snake {
  background-color: green;
  border: none !important; 
}

/* Food */
.food {
  background-color: red;
  border: none !important;
}
